<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Hemeroteca de  CyT - Sistemas</title>{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    {% block header %}
    {% endblock %}
</head>

<body>

    <div id="wrapper">
        <div class="page-header">
            <p><img src="{% static 'img/logo.jpg' %}" class="logo"/>
            <a href="/">Hemeroteca de la Secretaría de Promoción de Investigaciones<br/> y
                Desarrollo en Ciencia y Tecnología</a>
            </p>
        </div>
        <div class="overlay"></div>
            {% block sidebar %}
                <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                    <ul class="nav sidebar-nav">
                        <li class="sidebar-brand">
                            <a href="/">SePIDCyT</a>
                        </li>
                        <li/>
                        <li><a href="{% url 'index' %}">Inicio</a></li>
                        <li><a href="{% url 'Artículos' %}">Artículos</a></li>
                        <li><a href="{% url 'Autores' %}">Autores</a></li>
                        <li><a href="{% url 'Revistas' %}">Revistas</a></li>
                        <li><a href="{% url 'Búsqueda' %}">Buscar</a></li>
                    </ul>
                </nav>
            {% endblock %}
            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            {% block content %}{% endblock %}
                            {% block pagination %}
                                {% if is_paginated %}
                                    <div class="pagination">
                                        <span class="page-links">
                                            {% if page_obj.has_previous %}
                                                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">anterior</a>
                                            {% endif %}
                                            <span class="page-current">
                                                Página {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                            </span>
                                            {% if page_obj.has_next %}
                                                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">siguiente</a>
                                            {% endif %}
                                        </span>
                                    </div>

                                {% endif %}

                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>
<script src="{% static 'js/base.js'%}"></script>
</html>